<div id="wrapper">
    <app-sidebarmenu></app-sidebarmenu>
    <app-header></app-header>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="main-container">
                    <div class="h-left">
                        <app-sidebar></app-sidebar>
                    </div>

                    <div class="h-center">
                        <div class="postcont">
                            <h3>Specific users post</h3>
                            <div class="user_main" *ngFor="let specific of specificList">
                                <div class="user_img"><img src="./assets/images/user.png" alt=""></div>
                                <div class="user_cont">
                                    <ul>
                                        <li class="username">
                                            <h3>{{specific.userId}}</h3>
                                        </li>
                                        <li class="user_e">
                                            <p>{{specific.title}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="h-right"> <app-rightbar></app-rightbar></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!-- <app-footer></app-footer> -->
</div>
<!-- /#wrapper -->